.CategoriaFormacao {
  display: block;
  padding: 40px;
}

.spanFormacoes {
  display: inline-block;
  margin-left: 10px;
  font-size: 1.3rem;
  margin-bottom: 30px;
}

.formacao {
  margin-left: 0;
  padding: 20px;
}

.formacao:focus,
.formacao:hover {
  cursor: pointer;
  color: #ccc;
}

.formacaoContainer {
  display: flex;
  flex-wrap: wrap;
}
